# List Methods
## `.sort()` This method sort the list in asciding order and update the original list

In [1]:
alpha_list = ['F','A','z', 'b', 'c', 'd', 'y', 'f', 'g', 'h', 'i', 'j',1,2,3]
sort_list = alpha_list.sort()
print(sort_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [3]:
alpha_list = ['F','A','z', 'b', 'c', 'd', 'y', 'f', 'g', 'h', 'i', 'j']
sort_list = alpha_list.sort()
print(alpha_list)

['A', 'F', 'b', 'c', 'd', 'f', 'g', 'h', 'i', 'j', 'y', 'z']

In [10]:
print(ord('$'))  # 65

36

In [9]:
alpha_list = ['F','A','z', 'b', 'c', 'd', 'y', 'f', 'g', 'h', 'i', 'j','$']
sort_list = alpha_list.sort(reverse=True)
print(alpha_list)

['z', 'y', 'j', 'i', 'h', 'g', 'f', 'd', 'c', 'b', 'F', 'A', '$']

In [11]:
no_list = [31, 2, 33, 4, 35, 6, 7, 8, 9,]
# sort_list = no_list.sort()
sort_list = no_list.sort(reverse=True)
print(no_list)

[35, 33, 31, 9, 8, 7, 6, 4, 2]

## `reverse()`: This method reverse the order of the list

In [ ]:
alpha_list = ['A','F','A','z', 'b', 'c', 'd', 'y', 'f', 'g', 'h', 'i', 'j']
alpha_list.reverse()
print(alpha_list)

## `index()` This method return the index of the first occurance of the list item

In [19]:
names = ['arman', 'saad', 'asad', 'ali','asad']
index_of_asad = names.index('asad')
slice_of_asad = names.index('asad', 3,8)  # Start searching from index 2
print(index_of_asad)
print(slice_of_asad)

2
4

In [11]:
names = ['arman', 'saad', 'asad', 'ali', 'asad']
try:
	index_of_asad = names.index('asads')
except ValueError:
	index_of_asad = -1  # Assign -1 if the element is not found
print(index_of_asad)

-1

## `count()` method to count occurrences of an element

In [ ]:
names = ['arman', 'saad', 'asad', 'ali','asad']
count_of_asad = names.count('asad')
print(count_of_asad)

0

## `copy()` returns the copy of list

In [27]:
names = ['arman', 'saad', 'asad', 'ali','asad']
copy_of_names = names.copy()
print(copy_of_names)

['arman', 'saad', 'asad', 'ali', 'asad']

In [1]:
no_list = [31, 2, 33, 4, 35, 6, 3,3,3, 8, 9]
no_list.remove(3)
print(no_list)

[31, 2, 33, 4, 35, 6, 3, 3, 8, 9]

In [12]:
no_list = [31, 2, 33, 4, 35, 6, 3,3,3, 8, 9]
del no_list[2]  # Remove the element at index 2
print(no_list)

[31, 2, 4, 35, 6, 3, 3, 3, 8, 9]

In [4]:
no_list = [31, 2, 33, 4, 35, 6, 7, 8, 9]
no_list.clear()
print(no_list)

[]

In [5]:
no_list = [31, 2, 33, 4, 35, 6, 3,3,3, 8, 9]
del no_list
print(no_list)

NameError: name 'no_list' is not defined

## `append()` This method append the list items at the end of the existing list

In [28]:
names = ['arman', 'saad', 'asad', 'ali','asad']
names.append('sameer')
print(names)

['arman', 'saad', 'asad', 'ali', 'asad', 'sameer']

In [29]:
names = ['arman', 'saad', 'asad', 'ali','asad']
names.append(['wali', 'sami'])
print(names)

['arman', 'saad', 'asad', 'ali', 'asad', ['wali', 'sami']]

## `insert()` this method add the item at specfic index
This means the new element will be placed before the item that currently occupies that index.

In [ ]:

names = ['arman', 'saad', 'asad', 'ali','asad']
names.insert(1, 'hatim')
names.insert(-1, 'hatim ali')
print(names)

['arman', 'hatim', 'saad', 'asad', 'ali', 'asad']

## `extend()` this method concatenate two list 
   OR
This method adds an entire list or any other collection datatype (set, tuple, dictionary) to the existing list.

In [ ]:
list_1 = ['arman', 'saad', 'asad', 'ali','asad']
tuple_1 = ('hatim', 'sameer')
list_1.extend(tuple_1)
print(list_1)
set_1 = {'hatim', 'sameer'}
list_1.extend(set_1)
print(list_1)
dict_1 = {'name': 'hatim', 'age': 25}
list_1.extend(dict_1)
print(list_1)

['arman', 'saad', 'asad', 'ali', 'asad', 'hatim', 'sameer']
['arman', 'saad', 'asad', 'ali', 'asad', 'hatim', 'sameer', 'hatim', 'sameer']
['arman', 'saad', 'asad', 'ali', 'asad', 'hatim', 'sameer', 'hatim', 'sameer', 'hatim', 25]

In [46]:
list_1 = ['arman', 'saad', 'asad', 'ali','asad']
list_2 = ['hatim', 'sameer', 'sami']
new_list = list_1 + list_2
print(new_list)
list_1.extend(list_2)
print(list_1)

['arman', 'saad', 'asad', 'ali', 'asad', 'hatim', 'sameer', 'sami']
['arman', 'saad', 'asad', 'ali', 'asad', 'hatim', 'sameer', 'sami']

## `sorted()` 
this is a powerful method to sort the iterable object without changing the original iterable object 
`sorted(iterable, key=None, reverse=False)`
key:It customize how the list items are sort

In [52]:
fruits = ['apple', 'banana', 'cherry']
new_sorted_list = sorted(fruits,key=len,)
print(new_sorted_list)

['apple', 'banana', 'cherry']

In [53]:
student_data = [
    {'name': 'arman', 'age': 25, 'grade': 'A'},
    {'name': 'saad', 'age': 22, 'grade': 'B'},
    {'name': 'asad', 'age': 23, 'grade': 'C'},
    {'name': 'ali', 'age': 24, 'grade': 'A'},
]
new_sorted_list = sorted(student_data, key=lambda x: x['age'])
print(new_sorted_list)

[{'name': 'saad', 'age': 22, 'grade': 'B'}, {'name': 'asad', 'age': 23, 'grade': 'C'}, {'name': 'ali', 'age': 24, 'grade': 'A'}, {'name': 'arman', 'age': 25, 'grade': 'A'}]

In [15]:
my_list = [1, 2, 3, 4, 5]
remove_item = my_list.pop()
print(my_list)
print(remove_item)  # Output the removed item
sec_remove = my_list.pop(2)  # Remove the item at index 2
print(sec_remove)
print(my_list)

[1, 2, 3, 4]
5
3
[1, 2, 4]