In [ ]:
# Union of two sets 
# union method returns the new set
# but update method updates the set

In [4]:
set_a = {'a','b','c'}
set_b = {'a','b','c','d'}
set_c = {'g','f','e','d'}
set_d = set_a.union(set_b,set_c)
print(set_d)

{'f', 'd', 'a', 'e', 'g', 'b', 'c'}

In [7]:
set_a = {'a','b','c'}
set_b = {'a','b','c','d'}
set_c = {'g','f','e','d'}
set_d = set_a.update(set_b,set_c)
print(set_a)
print(set_d)

{'f', 'd', 'a', 'e', 'g', 'b', 'c'}
None

In [9]:
set_a = {'a','b','c'}
set_b = {'a','b','c','d'}
set_c = {'a','f','e','d'}
set_d = set_a.intersection(set_b,set_c)
print(set_d)

{'a'}

In [11]:
set_a = {'a','b','c'}
set_b = {'a','b','c','d'}
set_c = {'a','f','e','d'}
set_d = set_a.intersection_update(set_b,set_c)
print(set_a)

{'a'}

In [ ]:
# symmetric_difference: prints only value that are not similar in both

set_a = {1,2,3,4,5,6,7}
set_b = { 4,5,7,8,9,99}
set_c = { 49,59,79,89,99,990}
set_d = set_a.symmetric_difference(set_b) # symmetice_differece takes only one argument
print(set_d)

{1, 2, 3, 6, 8, 9, 99}

In [16]:
set_a = {1,2,3,4,5,6,7}
set_b = { 4,5,7,8,9,99} 
set_d = set_a.symmetric_difference_update(set_b) # symmetice_differece takes only one argument
print(set_a)

{1, 2, 3, 99, 6, 8, 9}

In [19]:
# Difference: in set difference means items that are in original set(first set) but not in other set
country_set = {"pak","ind",'afg'}
other_set = {"pak","asia","africa"}
other_set_2 = {"ind","asia","africa"}
set_diff = country_set.difference(other_set,other_set_2)
print(set_diff)

{'afg'}

In [20]:
country_set = {"pak","ind",'afg'}
other_set = {"pak","asia","africa"}
other_set_2 = {"ind","asia","africa"}
set_diff = country_set.difference_update(other_set,other_set_2)
print(country_set)

{'afg'}

In [ ]:
# isdisjoint() : it check where sets have some common elemens or not if it has some common elements it return false otherwise it return true

In [21]:
name_set = {'arman','asad'}
name_set_2 = {'arman ashraf','asad ali'}
name_set_3 = {'arman','asad'}

set_resp=name_set.isdisjoint(name_set_2)
set_resp_2=name_set.isdisjoint(name_set_3)
print(set_resp)
print(set_resp_2)

True
False

In [23]:
# issuperset() it check where all element of other set are present in original set 

set_of_homes = {'home_2','home_1'}
set_of_other_homes = {'home_2'}
final_set = set_of_homes.issuperset(set_of_other_homes)
print(final_set)

True

In [28]:
# issubset it check all elements of the original set are present in other set

cities = {'sialkot','lahore'}
city = {'sialkot'}
new_city = city.issubset(cities                         )
print(new_city)

True

In [29]:
# add method add element in a set

arman_set ={'arman',24}
arman_set.add('mathematic')
print(arman_set
    )

{'arman', 24, 'mathematic'}

In [30]:
# update() if we want to add more than one value simple create a new set and update method to update it

set_a = {'a','A'}
set_b = {'b','B'}
set_a.update(set_b)
print(set_a)

{'A', 'a', 'b', 'B'}

In [33]:
# remove/discard    The main difference between remove over discard is that if in a set we have not item present remove gives an error  if we want to remove it 

set_of_pres = {'arif alvi','asif ali','memnon hassan'}
removed_item=set_of_pres.remove('arif alvi')
print(set_of_pres)
discard_item=set_of_pres.discard('asif ali')
print(removed_item)
print(discard_item)
print(set_of_pres)

{'asif ali', 'memnon hassan'}
None
None
{'memnon hassan'}

In [36]:
# pop method remove the item form the last in a set

set_of_no = {1,3,4,5}
remove_no = set_of_no.pop()
print(remove_no)
print(set_of_no)

1
{3, 4, 5}

In [37]:
# del delete the entire set

set_of_shoes = {'bata','addidas'}
del set_of_shoes
print(set_of_shoes)

NameError: name 'set_of_shoes' is not defined

In [38]:
book_set = {'quran','hadith'}
book_set.clear()
print(book_set)

set()

In [44]:
book_set_emptys = set() 
print(type(book_set_emptys))
print(book_set_emptys)

<class 'set'>
set()

In [40]:
book_set_empty = {} 
print(type(book_set_empty))
print(book_set)

<class 'dict'>
{}